<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationExitsOnSuspend</key>
	<true/>
	<key>UILaunchImageFile</key>
	<string>Launch-iPhone.png</string>
	<key>UILaunchImageFile~iphone</key>
	<string>Launch-iPhone.png</string>
	<key>UILaunchImageFile~ipad</key>
	<string>Launch-iPad.png</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.bittorrent.torrent</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.bittorrent.torrent</string>
			<key>UTTypeDescriptioon</key>
			<string>BitTorrent Metadata</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>torrent</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-bittorrent</string>
			</dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
		</dict>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>CFBundleIconFile</key>
	<string>Icon-57.png</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-57.png</string>
		<string>Icon-72.png</string>
		<string>Icon-114.png</string>
		<string>Icon-512.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.multipleentendre.torrentbox</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
</dict>
</plist>
